<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>About me!</title>
  </head>
  <body>

    <p>Here are my top fave lines from Shakespeare:</p>

    <p>Come, come, you talk greasily; your lips grow foul. Hast thou never an eye in thy head? Thou clouted crook-pated hugger-mugger! Thou dissembling idle-headed pigeon-egg! Thou mangled fen-sucked bum-bailey! Thou leathern-jerkin, crystal-button, knot-pated, agatering, puke-stocking, caddis-garter, smooth-tongue, Spanish pouch! Thou rank hedge-born boar-pig! Thou wimpled clapper-clawed flax-wench! Thou qualling unwash'd devil-mon!</p>

    <p><a href="/">Home</a></p>

  </body>
</html>
