<div class="contact_list_header">
  <h2>There are <%= Contact.count %> contacts:</h2>
</div>

<ul>
  <% @contacts.each do |contact|%>
    <li>
      <p>
      <%= "Name: #{contact.full_name}" %>
      <br>
      <%= "Email: #{contact.email}" %>
      <br>
      <%= "Note: #{contact.note}" %>
      </p>
    </li>
  <% end %>
</ul>
