<div class="contact_list_header">
  <h2>There are <span><%= Contact.count %></span> contacts:</h2>
</div>

<ul>
  <% @contacts.each do |contact|%>
    <li>
      <div class="contact">
        <h3>
          <%= "#{contact.full_name} (#{contact.email})" %>
        </h3>
        <h4>
          <%= "#{contact.note}" %>
        </h4>
        <a href="/contacts/<%=contact.id.to_i%>">View</a> |
        <a href="#">Edit</a> |
        <a href="#">Delete</a>
      </div>
    </li>
  <% end %>
</ul>
