<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/styles.css">
    <title>A Most-Excellent Website</title>
  </head>
  <body>

    <header>

      <div class="title">
        <h1>The Best CRM Ever</h1>
      </div>

      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/contacts">Contacts</a></li>
          <li><a href="/about">About</a></li>
        </ul>
      </nav>

    </header>

    <main>
      <%= yield %>
    </main>

    <footer>

      &copy; Bitmaker 1977

    </footer>

  </body>
</html>
