<div class="not_found">

  <h1>404!</h1>

  <p>In internet-speak, that means "Not Found."</p>

  <p>Please try to just stick to <a href="/">the links I've provided.</a></p>

  <p> - The Manager</p>

</div>
